body {
    font-family: Didot, serif;
    font-size: larger;
    overflow: hidden;
}
#overlay_signup, #overlay_login {
    position: absolute;
    top: 70px;
    left: 50px;
}

#overlay_index {
    position: absolute;
    top: 130px;
    left: 90px;
}

#overlay_index article {
    color: oldlace;
    text-align: center;
    user-select: none;
    line-height: 2.5;
    text-shadow: 2px 2px 2px #727173;
}

.buttons {
    background-color: lightslategrey;
    color: oldlace;
    padding: 5px 40px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 50px;
    transition: 1s ease-in-out;
    text-shadow: 3px 3px 2px #312e2f;
}

#index_login_button {
    margin-left: 50px;
}

#signup_button, #login_button {
    margin-left: 210px;
    padding: 15px 40px;
}

#back_button {
    width: 145px;
    margin-left: 50px;
    padding: 15px 40px;
}

.buttons:hover {
    scale: 1.15;
}

#signup_form, #login_form {
    color: oldlace;
    user-select: none;
    text-shadow: 2px 2px 2px #727173;
}

#login_form_div {
    margin-top: 130px;
}

input[type="text"], input[type="email"], input[type="password"], #country{
    padding: 5px;
    margin: 10px;
    color: lightslategrey;
    text-shadow: 3px 3px 2px #727173;
    font-size: 25px;
    transition: 1s ease-in-out;
    width: max-content;
    text-decoration: none;
    background: linear-gradient(oldlace, oldlace) center bottom 5px /calc(100% - 10px) 1px no-repeat;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin: 30px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, #country:focus {
    outline: none;
}

.input:hover {
    scale: 1.05;
}

.fa-eye {
    font-size: smaller;
}

.error-message {
    color: darkred;
    text-shadow: none;
    font-weight: bold;
    margin-left: 10px;
}

.general-error-message {
    color: darkred;
    text-shadow: none;
    font-weight: bold;
    margin-left: 230px;
}

#decision_article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#decision_welcome_element {
    font-size: larger;
    margin-bottom: 40px;
}

#decision_book_recommendation, #decision_book_display {
    margin-right: 30px;
    width: 310px;
}

#decision_song_recommendation, #decision_song_display {
    width: 310px;
}

